* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --blue: rgba(88, 43, 232, 1);
  --pink: rgba(255, 20, 147, 1);
}

body {
  position: relative;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 17px;
}

a {
  font-size: 17px;
}

/* Header section and navbar */

.header {
  width: 100%;
  color: #fff;
}

.header .navbar {
  background-color: var(--blue);
  padding: 15px 5%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar ul {
  display: flex;
}

.header .navbar ul li {
  list-style-type: none;
  margin-right: 20px;
}

.header .navbar ul li button {
  width: 140px;
  cursor: pointer;
  color: #fff;
  padding: 8px;
  border: none;
  outline: none;
  transition: 0.5s;
  background-color: var(--blue);
  font-size: 20px;
}

.header .navbar ul li button:hover {
  border: 1px solid var(--blue);
  background-color: #fff;
  color: var(--blue);
}

.header .navbar ul li button i {
  margin-left: 5px;
  font-size: 23px;
}


/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {
 
}

/* Desktop versions now */

@media screen and (min-width: 1080px) {
  
}